.wrapper {
  max-height: calc(100vh - 60px);
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px - env(safe-area-inset-top));
  height: calc(100vh - 60px - env(safe-area-inset-top));
  max-height: calc(100vh - 60px - constant(safe-area-inset-top));
  height: calc(100vh - 60px - constant(safe-area-inset-top));
  overflow: hidden;
  overflow-y: scroll;

  .content {
    width: 80%;
    margin: auto;
    font-size: 20px;
  }
}
